<div class='max-w-md mx-auto'>
    <form action="/search" method="POST">
    <div class="relative flex items-center w-full h-12 rounded-lg focus-within:shadow-lg bg-white overflow-hidden">
        <div class="grid place-items-center h-full w-full text-gray-300 flex-1">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 p-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
        </div>

        <input
        name="searchservice"
        class="peer h-full w-full outline-none text-sm text-gray-700 pr-2 w-full"
        type="text"
        id="search"
        placeholder="Search something.." /> 
        <input class="w-[100px] bg-blue-500 hover:bg-blue-700 text-white font-medium py-3 cursor-pointer rounded" type="submit" value="Search">
    </div>
    </form>
    {{#each servicesSearch}}
    <div class="bg-white shadow-lg py-8 px-4 rounded mx-auto max-w-5xl my-10 md:px-10">
        
            <img class="w-full" src="{{images}}" alt="Image your service">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">{{name}}</div>
                <p class="text-gray-700 text-base">{{description}}</p>
                <p class="text-gray-700 text-base mt-5">Address: {{address}}</p>
            </div>
            <div class="px-6 pt-4 pb-2">
                <a href="/{{_id}}/service-comment" class="inline-block bg-gray-200 hover:bg-gray-400 cursor-pointer rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"> View Comments </a>
            </div>
        
    </div>
    {{/each}}
</div>